*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
	background-color: black;
	height: 50px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

a {
	display: block;
	color: #fff;;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a:hover {
	background-color: #111;
    color: aqua;
}
.social-media-icons {
	display: flex;
	justify-content: center;
}

.social-media-icons a {
	margin: 0 10px;
    
}

.social-media-icons i {
	font-size: 24px;
	color: #fff;
}

.social-media-icons i:hover {
	color: #0077B5;
}
.main{
    background-image: url('./Image/swimming-pool.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.main h1{
    margin: 0 10px;
    padding: 45px;
    color: #fff;
    font-weight: bold;
    font-size: 45px;
}
.main p{
    color: white;
    margin: 0 20px;
    padding: 35px;
    font-size: 19px;
    font-weight: bold;
}
.btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-primary {
	background-color: #0077B5;
	color: #fff;
    margin: 0 12px;
}

.btn-secondary {
	background-color: #EDEDED;
	color: #333;
}

.btn-danger {
	background-color: #D9534F;
	color: #fff;
}

.btn:hover {
	opacity: 0.8;
}
.about-section {
	max-width: 800px;
    margin: auto;
    text-align: center;
   font-weight: bold;
}

.about-section h1 {
	font-size: 36px;
    padding: 45px;
    text-align: center;
    font-size: 58px;

}

.about-section p {
	line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
}